
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    min-height: 500vh;
    background: #fff;
}


.header {
    position: absolute;
    width: 100%;
    z-index: 101;
}

.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    color: #fff;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__logo img {
    width: 60px;
}

.navbar__logo span {
    font-weight: 500;
}

.navbar__collection {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
}

.navbar__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__actions select {
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    color: #fff;
}

.navbar__actions a {
    font-size: 18px;
    font-weight: 500;
}

.navbar__actions i {
    font-size: 20px;
}



.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(#000000d8, transparent);
}


.wrapper {
    display: flex;
    padding: 30px 0;
    gap: 30px;

}

.card {
    min-width: 350px;
    width: 350px;
    height: 400px;
    margin-top: 60px;
}

.card__text {
    text-align: center;
    font-size: 30px;
    position: absolute;
    position: relative;
    bottom: 10px;
}

.card__inst p {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    position: relative;
    bottom: 330px;
    left: 30px;
    background: rgb(46, 33, 36);
    border-radius: 50%;
    border: 5px solid #fff;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.card__title {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
}


.card__title h3 {
    font-size: 35px;
    font-weight: 500;

}




.video__button{
    padding: 20px 160px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    background: rgb(190, 160, 135);

}

.button {
    display: flex;
    flex: 1;
    display: inline-block;
    margin-left: -100px;
}

.video__button p {
    font-size: 20px;
}

.video__button i {
    padding-left: 12px;
    font-size: 30px;
    display: flex;

}
.menu{
    width: 100%;
    background-color: #bea087;
}
.menu {
    width: 120px;
    height: 100px;
    margin-right: 20px;

}

.menu img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
}

.menu p {
    font-size: 14px;
    text-align: center;
}

.card img {
    border-radius: 50%;
}

.wrapper::-webkit-scrollbar {
    height: 6px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #ddd;
}

.center__top {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    padding: 20px 160px;
    margin-top: 100px;

}

.top h2 {
    margin-top:  40px;
    font-size: 35px;
    font-weight: 500;
}

.top__cake {
    width: 400px;

}

.top__cake h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.top__cake img {
    border-radius: 50%;
    width: 400px;
    height: 380px;

}

.top__cake p {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #6d6767;
}

.top__cake h5 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.values__title {
    text-align: center;
    margin-top: 100px;
}

.center__values {
    width: 900px;
    display: flex;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values {
    width: 300px;
    padding: 100px;
}
.values h6 {
    text-align: center;
    font-size: 12px;
    color: rgb(141, 154, 163);
    font-weight: 400;
}

.values h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.deliver__title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;

}

.center__about {
    margin-top: 50px;
    width: 1520px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 30px;
}



.deliver button {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(220, 195, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 430px;
    bottom: 37%;
    border: 6px solid #fff;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.deliver button:hover {
    background: rgb(202, 147, 27);
    cursor: pointer;
}

.deliver__text {
    display: inline-block;
    max-width: 400px;
    padding-left: 420px;
}

.deliver__text h2 {
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: 700;
}

.deliver__text img {
    padding-left: 180px;
}

.deliver {
    width: 1500px;
}

.new__coffee {
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;
}

.new__cake {
    width: 1520px;
    display: flex;
    position: relative;
    padding: 60px;
    gap: 30px;
    margin-left: 60px;
}

.coffee img {
    height: 400px;
    width: 400px;
    border-radius: 50%;

}

.coffee button {
    position: absolute;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: rgb(220, 195, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40%;
    margin-left: 140px;
    border: 8px solid #fff;
    color: #fff;
    font-size: 18px;
}

.coffee button:hover {
    background: rgb(202, 147, 27);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 400px;
    background: rgb(46, 33, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.footer__img img {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 40px;
    margin-left: -100px;
}

.footer__text {
    margin-left: 20%;
    margin-bottom: 10%;
    display: inline-block;
    line-height: 1.9;


}

.footer__text h2 {
    padding-top: 20px;

    color: #fff;
}

.footer__text p {

    color: #fff;
}

.footer__text p:hover {
    color: rgb(202, 147, 27);
    cursor: pointer;
}

.icon {
    position: relative;
    position: absolute;
    left: 80%;
    top: 30%;

}

.icon h2 {
    position: relative;
    bottom: 58px;
    font-size: 35px;
    color: #fff;
}

.icon a {
    position: relative;
    bottom: 50px;
    font-size: 40px;
    color: #fff;
}

.icon i {
    position: relative;
    bottom: 40px;
    font-size: 30px;
    color: #6d6767;

}

.icon button {
    width: 120px;
    height: 50px;
    border-radius: 9px;
    color: #fff;
    background: black;
    border: none;

}

.icon button i {
    position: relative;
    top: 6px;
    right: 4px;
    color: #fff;
}
.deliver__txt{
    margin-left: 200px;
}
.top{
    background-color: #bea087;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
.card__title{
    margin-top:20px;
}
.wrapper{
    display: inline-block;
    display: flex;
    margin-top:20px;
    p{
        margin-top: -20px;
    }

}
.icon__button{
    // margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    place-items: center;
    gap: 10px;
}
.contact{
    display: flex;
    gap: 15px;
}

.tittle{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media (max-width:870px){
    .navbar__collection{
        display: none;
    }
}


@media (max-width:372px){
    .navbar__actions{
        display: none;
    }
}
